<nav>
			  <ul class="nav nav-pills pull-right">
				<li role="presentation" class="active"><a href="#/dashboard"> {{dept}} Dashboard </span> </a></li>
				<li role="presentation" class="active"><a href="#/employeesbyDept/It"><span class="glyphicon glyphicon-th-list">  {{dept}} Employee list </span> </a></li>
			    <li role="presentation"><a href="#/employees/create"> 
			    <span class="glyphicon glyphicon-plus"> </span>	Add New Employee</a></li>
			  </ul>
</nav>
<div class="panel panel-default" ng-init="getEmployees()">
	<div class="panel-heading">
	  <p class="panel-title"> Employees List</p>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
			<tr>
			  <th>Name</th>
			  <th>Department</th>
			  <th>performance</th>
			 
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="employee in employees">
			  <td><a href="#/employees/{{employee._id}}/show" > {{employee.name}}  </a></td>
			  <td>{{ employee.dept }}</td>
			  <td>{{ employee.performance }}</td>
			  <td> 
			    
			    <!-- <a href="#/employees/{{employee._id}}/edit" class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit  </a>
			  	<a ng-click="deleteEmployee(employee._id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Delete </a> -->
			  </td>
			</tr>
			</tbody>
		</table>		
    <div>
<div>