
        <div class="login-box" >
            <form ng-submit="login()">
                <h1>Login</h1>
            <div class="text-box">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <input type="text" placeholder="Department" name="deptname" ng-model="department.deptname">
            </div>
            <div class="text-box">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <input type="password" placeholder="Password" name="password" ng-model="department.password">
            </div>
            <p>{{message}}</p>
        <button class="button" type="submit"> Submit</button>
         
            </form>
                  
        </div>
